{% extends 'base.html' %}
{% block title %}
Post # {{number}}
{% endblock %}
{% block content %}
<table style="width: 100%; text-align: center;">
    <tr>
        <td>
            <h4>
                {{title}}</h4>
        </td>
    <tr>
        <td style="text-align: left">
<p style="white-space: pre-line">
            {{content}}
</p>
        </td>
    <tr>
        <td style="text-align: right">
            <span class="badge badge-primary">{{ date }}</span>
        </td>
    </tr>
</table>
{% endblock %}